PORT=3000
MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/blog-api
JWT_SECRET=tu-clave-super-secreta-de-al-menos-32-caracteres
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
NODE_ENV=development
